* {
    box-sizing: border-box;
}

body {
    padding:0px;
    margin:0px;
    background-color: #ccc;
    width:100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #000;
    color:white;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0rem 1rem;
    /* justify-content: space-between;
    align-items: center; */
}

header h1 {
    font-size:1.2rem;
    font-weight: bold;
    margin:0px;
    padding:0px;
}

header nav ul {
    display:flex;
    flex-direction: column;
    list-style: none;
    padding:0rem;
    margin:0px;
}
header nav ul li a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 1.5rem 2rem;
    /* border: solid 1px #fff; */
    transition: background-color 0.5s ease-in;
}
header nav ul li a:hover {
    background-color: #555;
}

#hero div {
    position:relative;
}
#hero div img {
    width:100%;
    height: 70vh;
    min-height: 400px;
    object-fit: cover;
    object-position: center;
}
#hero div .action {
    width: 320px;
    height: 280px;
    background-color: #ffffff88;
    border-radius: 17px;
    box-shadow: 3px 3px 5px #000;
    padding:1rem;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#hero div .action a {
    display:block;
    margin: 1rem auto;
    width: 70%;
    padding: 0.7rem 1rem;
    border-radius: 27px;
    box-shadow: 1px 1px 3px #000;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    background-color: slateblue;
    color:#000;
    text-align: center;
}

main {
    flex: 1;
}
footer {
    background-color: #000;
    color:white;
}


#news {
    display:flex;
    flex-direction: column;
    padding:1rem;
    align-items: center;
    background-color:aqua;
    gap:1rem;
}

#news .card {
    background-color:#fff;
    padding:1rem;
    border-radius: 17px;
    box-shadow: 3px 3px 5px #000;
    overflow:hidden;
}
.card_image{
    padding:0px;
    width:100%;
    margin:-1rem -2rem 0.5rem -1rem ;
    overflow:hidden;
}

.card_image img {
    width:100%;
    height: 180px;
    object-fit: cover;
    object-position: bottom center;
}

#referals {
    padding:0.75rem;
}

.grid {
    display: flex;
    flex-direction: column;
}
.row {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    align-items: flex-start;
}

[class^="col"] {
    display:flex;
    border: 1px solid #333;
}

.col-1 {
    flex-basis: calc(100%/12);
}
.col-2 {
    flex-basis: calc(100%/12 * 2);
}
.col-3 {
    flex-basis: calc(100%/12 * 3);
}
.col-4 {
    flex-basis: calc(100%/12 * 4);
}
.col-5 {
    flex-basis: calc(100%/12 * 5);
}
.col-6 {
    flex-basis: calc(100%/12 * 6);
}
.col-7 {
    flex-basis: calc(100%/12 * 7);
}
.col-8 {
    flex-basis: calc(100%/12 * 8);
}
.col-9 {
    flex-basis: calc(100%/12 * 9);
}
.col-10 {
    flex-basis: calc(100%/12 * 10);
}
.col-11 {
    flex-basis: calc(100%/12 * 11);
}
.col-12 {
    flex-basis: 100%;
}
/* tablets */
@media (min-width: 720px){
    #news {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
    }
    #news .card {
        max-width: 220px;
    }
    .col-m-1 {
        flex-basis: calc(100%/12);
    }
    .col-m-2 {
        flex-basis: calc(100%/12 * 2);
    }
    .col-m-3 {
        flex-basis: calc(100%/12 * 3);
    }
    .col-m-4 {
        flex-basis: calc(100%/12 * 4);
    }
    .col-m-5 {
        flex-basis: calc(100%/12 * 5);
    }
    .col-m-6 {
        flex-basis: calc(100%/12 * 6);
    }
    .col-m-7 {
        flex-basis: calc(100%/12 * 7);
    }
    .col-m-8 {
        flex-basis: calc(100%/12 * 8);
    }
    .col-m-9 {
        flex-basis: calc(100%/12 * 9);
    }
    .col-m-10 {
        flex-basis: calc(100%/12 * 10);
    }
    .col-m-11 {
        flex-basis: calc(100%/12 * 11);
    }
    .col-m-12 {
        flex-basis: 100%;
    }
}

/* desktop */
@media (min-width: 1025px) {
    .col-l-1 {
        flex-basis: calc(100%/12);
    }
    .col-l-2 {
        flex-basis: calc(100%/12 * 2);
    }
    .col-l-3 {
        flex-basis: calc(100%/12 * 3);
    }
    .col-l-4 {
        flex-basis: calc(100%/12 * 4);
    }
    .col-l-5 {
        flex-basis: calc(100%/12 * 5);
    }
    .col-l-6 {
        flex-basis: calc(100%/12 * 6);
    }
    .col-l-7 {
        flex-basis: calc(100%/12 * 7);
    }
    .col-l-8 {
        flex-basis: calc(100%/12 * 8);
    }
    .col-l-9 {
        flex-basis: calc(100%/12 * 9);
    }
    .col-l-10 {
        flex-basis: calc(100%/12 * 10);
    }
    .col-l-11 {
        flex-basis: calc(100%/12 * 11);
    }
    .col-l-12 {
        flex-basis: 100%;
    }
}

/* wide screen */
@media (min-width: 1300px) {

}

