* {
    box-sizing: border-box;
}

body {
    padding:0px;
    margin:0px;
    background-color: #f5f5f5;
    width:100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
}

header {
    background-color: #000;
    color:white;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0rem 1rem;
    /* justify-content: space-between;
    align-items: center; */
}

header div {
    display: flex;
    gap:1rem;
    align-items: center;
    padding-top:0.5rem;
}

header div h1 {
    font-size:1.2rem;
    font-weight: bold;
    margin:0px;
    padding:0px;
}

.hamburger {
    display: block;
    background: slateblue;
    border: 1px solid white;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 0.5rem;
    align-self: flex-end;
}

header nav ul {
    display:flex;
    flex-direction: column;
    list-style: none;
    padding:0rem;
    margin:0px;
    display: none;
}

header nav ul.open {
    display: flex;
}
header nav ul li a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 1.5rem 2rem;
    /* border: solid 1px #fff; */
    transition: background-color 0.5s ease-in;
}
header nav ul li a:hover {
    background-color: #555;
}

#hero div {
    position:relative;
}
#hero div img {
    width:100%;
    height: 70vh;
    min-height: 400px;
    object-fit: cover;
    object-position: center;
}
#hero div .action {
    width: 320px;
    height: 280px;
    background-color: #ffffff88;
    border-radius: 17px;
    box-shadow: 3px 3px 5px #000;
    padding:1rem;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#hero div .action a {
    display:block;
    margin: 1rem auto;
    width: 70%;
    padding: 0.7rem 1rem;
    border-radius: 27px;
    box-shadow: 1px 1px 3px #000;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    background-color: slateblue;
    color:#000;
    text-align: center;
}

main {
    flex: 1;
}
footer {
    background-color: #000;
    color: white;
    text-align: center;
    padding: 1rem;
}


#news {
    display:flex;
    flex-direction: column;
    padding:1rem;
    align-items: center;
    background-color: #f9f9f9;
    gap:1rem;
}

#news .card {
    background-color:#fff;
    padding: 0 1rem 1rem 1rem;
    border-radius: 17px;
    box-shadow: 3px 3px 5px #000;
    overflow:hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
}

#news .card:hover {
    transform: translateY(-5px);
    box-shadow: 5px 5px 10px #000;
}

.card_image{
    padding:0px;
    width:100%;
    height: 180px;
    overflow:hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.card_image img {
    display: block;
    width:100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

#news .card h2 {
    margin: 188px 0 0.5rem 0;
    font-size: 1.2rem;
    color: #333;
}

#news .card p {
    margin: 0.5rem 0;
    color: #666;
    line-height: 1.5;
}

.card_footer a {
    display: inline-block;
    margin-top: 0.5rem;
    color: slateblue;
    text-decoration: none;
    font-weight: bold;
}

.card_footer a:hover {
    text-decoration: underline;
}

#referals {
    padding:0.75rem;
}

#contact {
    display: flex;
    flex-direction: column;
    min-height: 400px;
}

#contact > div {
    flex: 1;
}

#contact > div:first-child {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#contact > div:last-child {
    position: relative;
}

#contact > div:last-child picture {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#contact > div:last-child img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.field {
    margin-bottom: 1.5rem;
}

.field label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.field input, .field textarea {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

.field textarea {
    resize: vertical;
    min-height: 100px;
}

.field-actions {
    text-align: center;
    margin-top: 1rem;
}

button {
    padding: 0.75rem 2rem;
    background-color: slateblue;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #5a4fcf;
}

#precios {
    padding: 2rem;
}

#referals {
    margin-top:1rem;
    padding: 1rem 0.5rem;
}

.table-container {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    min-width: 600px;
}

th, td {
    border: 1px solid #ddd;
    padding: 0.75rem;
    text-align: center;
}

thead th {
    background-color: #f4f4f4;
    font-weight: bold;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tfoot td {
    background-color: #e9e9e9;
    font-weight: bold;
}

.grid {
    display: flex;
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}
.align-items-center {
    align-items: center;
}

.shadow {
    box-shadow: 3px 3px 5px #000;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    align-items: flex-start;
}

[class^="col"] {
    display:flex;
}

.col-1 {
    flex-basis: calc(100%/12);
}
.col-2 {
    flex-basis: calc(100%/12 * 2);
}
.col-3 {
    flex-basis: calc(100%/12 * 3);
}
.col-4 {
    flex-basis: calc(100%/12 * 4);
}
.col-5 {
    flex-basis: calc(100%/12 * 5);
}
.col-6 {
    flex-basis: calc(100%/12 * 6);
}
.col-7 {
    flex-basis: calc(100%/12 * 7);
}
.col-8 {
    flex-basis: calc(100%/12 * 8);
}
.col-9 {
    flex-basis: calc(100%/12 * 9);
}
.col-10 {
    flex-basis: calc(100%/12 * 10);
}
.col-11 {
    flex-basis: calc(100%/12 * 11);
}
.col-12 {
    flex-basis: 100%;
}
.container {
    width:100%;
}
/* tablets */
@media (min-width: 768px){
    header div {
        padding-top:0rem;
    }
    #news {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
    }
    #news .card {
        max-width: 220px;
    }
    .col-m-1 {
        flex-basis: calc(100%/12);
    }
    .col-m-2 {
        flex-basis: calc(100%/12 * 2);
    }
    .col-m-3 {
        flex-basis: calc(100%/12 * 3);
    }
    .col-m-4 {
        flex-basis: calc(100%/12 * 4);
    }
    .col-m-5 {
        flex-basis: calc(100%/12 * 5);
    }
    .col-m-6 {
        flex-basis: calc(100%/12 * 6);
    }
    .col-m-7 {
        flex-basis: calc(100%/12 * 7);
    }
    .col-m-8 {
        flex-basis: calc(100%/12 * 8);
    }
    .col-m-9 {
        flex-basis: calc(100%/12 * 9);
    }
    .col-m-10 {
        flex-basis: calc(100%/12 * 10);
    }
    .col-m-11 {
        flex-basis: calc(100%/12 * 11);
    }
    .col-m-12 {
        flex-basis: 100%;
    }
    #contact {
        flex-direction: row;
    }
    #contact > div {
        flex: 0 0 50%;
    }
    header nav ul {
        flex-direction: row;
        display: flex;
    }
    header nav ul li {
        margin-right: 1rem;
    }
    header nav ul li:last-child {
        margin-right: 0;
    }
    header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .hamburger {
        display: none;
    }
}

/* desktop */
@media (min-width: 1025px) {
    .container {
        max-width: 1025px;
        margin-left: auto;
        margin-right: auto;
    }
    .col-l-1 {
        flex-basis: calc(100%/12);
    }
    .col-l-2 {
        flex-basis: calc(100%/12 * 2);
    }
    .col-l-3 {
        flex-basis: calc(100%/12 * 3);
    }
    .col-l-4 {
        flex-basis: calc(100%/12 * 4);
    }
    .col-l-5 {
        flex-basis: calc(100%/12 * 5);
    }
    .col-l-6 {
        flex-basis: calc(100%/12 * 6);
    }
    .col-l-7 {
        flex-basis: calc(100%/12 * 7);
    }
    .col-l-8 {
        flex-basis: calc(100%/12 * 8);
    }
    .col-l-9 {
        flex-basis: calc(100%/12 * 9);
    }
    .col-l-10 {
        flex-basis: calc(100%/12 * 10);
    }
    .col-l-11 {
        flex-basis: calc(100%/12 * 11);
    }
    .col-l-12 {
        flex-basis: 100%;
    }
    .hamburger {
        display: none;
    }
}

/* wide screen */
@media (min-width: 1300px) {

}

